@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'PingFang SC', 'HarmonyOS Sans SC', sans-serif;
    }
}

@layer components {
    .drag-region {
        -webkit-app-region: drag;
    }

    .no-drag-region {
        -webkit-app-region: no-drag;
    }
}